.yourThread_2094912 .services {
  position: relative;
  overflow: hidden;
  min-height: 720px;
  padding: 36px 36px 30px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://nztcdn.com/files/1a8114e0-d55e-40af-8856-221094262582.webp");
}

.yourThread_2094912 .services__inner {
  position: relative;
  z-index: 1;
  min-height: 654px;
  display: flex;
  flex-direction: column;
}

.yourThread_2094912 .services__top {
  display: grid;
  grid-template-columns: minmax(0, 660px) 250px;
  justify-content: space-between;
  gap: 34px;
}

.yourThread_2094912 .services__title {
  max-width: 570px;
}

.yourThread_2094912 .services__note {
  margin: 5px 0 0;
  font-family: var(--font-main);
  color: rgba(255, 255, 255, 0.76);
  font-size: 16px;
  line-height: 1.3;
}

.yourThread_2094912 .services__img {
  margin-top: auto;
}